/* Universal Styles */
* {
  font-family: "Cormorant", serif;
}

/* General Layout */
body {
  background-image: url(background.jpg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}

.title {
  display: none;
}

.text {
  font-size: 1.2rem;
  margin: 1rem;
}

/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 100;
  background-color: rgba(26, 45, 145, 0.92);
  color: rgb(250, 239, 239);
  padding: 1rem;
  border-radius: 2rem;
}

img {
  height: 100px;  
  width: auto; 
}

/* Header Styles */
h1 {
  font-size: 0.5rem;
}

/* Calculator Styles */
.calculator {
  background-repeat: no-repeat;
  height: fit-content;
  width: auto;
}

.calcLogo {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 2rem;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Notification Styles */
#notification {
  background-color: rgba(245, 246, 255, 0.95);
  margin: 10vh;
  width: 80%;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

/* Picture Logo Styles */
#piclogo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pic {
  display: flex;
}

/* Button Styles */
.buttonbox, .button {
  display: flex;
}

.button {
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1rem;
  border: 0;
  margin-top: 2rem;
  background-color: rgba(26, 45, 145, 0.92);
  color: aliceblue;
}

.button:hover {
  background-color: aliceblue;
  color: rgb(26, 45, 145);
  font-weight: 600;
  border: 1px solid rgb(26, 45, 145); 
}

/* Form Styles */
#left, #right {
  width: 50%;
  display: flex;
}

input {
  width: 50%;
}

.rightlable {
  width: 50%;
}

#small {
  font-size: 1rem;
  color: gray;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

/* Footer Styles */
footer {
  background-color: white;
  height: auto;
  width: 100%;
  bottom: 0;
  align-content: center;
  justify-content: center;
  color: black;
}

/* Result Styles */
.result {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 4rem;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}
